body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-principal {
  background-color: rgb(56, 56, 212);
  color: #fff;
  transition: all 0.3s ease;
}
.color-principal:hover {
  filter: brightness(80%);
  color: #fff;
}

.buttons {
  padding: 0.6rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
}
.buttons:hover {
  filter: brightness(80%);
  color: #fff;
}

.btn-back {
  background-color: rgb(100, 96, 96);
}

header {
  background-color: rgba(201, 197, 197, 0.8);
}

header h1 {
  color: rgb(39, 39, 38);
}

@media (min-width: 992px) {
  .seccion-tabla {
    width: 60%;
  }
}

.imgs {
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 766px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 766px) {
  .table {
    font-size: 70%;
  }
}

@media (min-width: 370px) and (max-width: 650px) {
  .btn-back {
    margin-left: 2rem;
  }
}
@media (max-width: 350px) {
  .table {
    font-size: 55%;
  }
  .table img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .table button {
    font-size: 55%;
  }
  .btn-back {
    margin-left: 0.2rem;
  }
}

.tela-desc {
  line-height: 2rem;
  word-wrap: break-word;
  inline-size: 60rem;
  width: 65%;
}

.form-login {
  height: 30rem;
  width: 50%;
}
@media (max-width: 767px) {
  .form-login {
    width: 90%;
    height: 22rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form-login {
    width: 75%;
    height: 25rem;
  }
}

.hr-login {
  border: 1px solid #fff;
}
