body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.imgs {
  height: 300px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 766px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
